/* ============================================
   INTER — LOCAL FONTS
   ============================================ */

@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter-Italic.woff2") format("woff2");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter-LightBETA.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter-LightItalicBETA.woff2") format("woff2");
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter-MediumItalic.woff2") format("woff2");
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter-SemiBold.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter-SemiBoldItalic.woff2") format("woff2");
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter-BoldItalic.woff2") format("woff2");
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter-ExtraBold.woff2") format("woff2");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter-ExtraBoldItalic.woff2") format("woff2");
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter-Black.woff2") format("woff2");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter-BlackItalic.woff2") format("woff2");
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}


/* ============================================
   INTER — THIN / EXTRA LIGHT
   ============================================ */

@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter-ThinBETA.woff2") format("woff2");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter-ThinItalicBETA.woff2") format("woff2");
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter-ExtraLightBETA.woff2") format("woff2");
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter-ExtraLightItalicBETA.woff2") format("woff2");
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}


/* ============================================
   VOLTAIRE
   ============================================ */

@font-face {
    font-family: "Voltaire";
    src: url("../fonts/Voltaire-Regular.ttf") format("woff2");
  
}

/* ============================================
   VOLTAIRE
   ============================================ */

@font-face {
    font-family: "Gloock";
    src: url("../fonts/Gloock-Regular.woff2") format("woff2");
  
}




    
    

:root {
  --primary-navy: #142536;
  --primary-text: #111315;
  --secondary-text: #66758A;
  --muted-text: #8B98A8;
  --background: #FAFAF7;
  --white: #FFFFFF;
  --sage: #B8D6B0;
  --sage-dark: #28b900;
  --sage-light: #EDF5E9;
  --lavender: #EEEAF8;
  --soft-blue: #EAF1F8;
  --peach: #F9EDE5;
  --sand: #F2EEE5;
  --warning: #C98A32;
  --error: #C95656;
  --success: #3D8A47;
  --lightPrimary: #28b900;

  /* Fonts */
  --font-display: "Roboto", sans-serif;
  --font-body: "Inter" , sans-serif;

  --max-width: 1440px;
  --primaryLight: #28b900;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,h2,h3{
  font-family: var(--font-display);
}

body {
  background-color: var(--background);
  color: var(--primary-text);
  font-family: var(--font-body);
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}